* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

canvas {
    position: absolute;
    display: block;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    
    border: 1px solid black;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

p {
    text-align: center;
    margin-top: 50px;
}
